.header {
    border: 0 solid #f0f0f0;
    position: sticky;
}

.navigation {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding: 0;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}

.navigation a:hover {
    background-color: #555;
}

.list {
    display: flex;
    list-style: none;
    gap: 32px;
}